.createRaffleForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}

.iconLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.success {
    color: green;
    font-size: 20px;
}

.fail {
    color: red;
    font-size: 20px;
}

.disappear {
    animation-name: hide;
    animation-duration: 16s;
    margin-bottom: 1%;
}

@keyframes hide {
    from { opacity: 1; }
    to { opacity: 0; }
}